@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow-black {
    box-shadow: 0 2px 9px 2px #000;
}
.box-shadow-main {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 12px 0px;
}

:root {
    --body-font: "Poppins", Helvetica, sans-serif;
    --main-purple: #4f46e5;
    --accent-purple: #5b57e9;
    --darker-purple: #1f1189;
    --accent-white: #f9fafb;
    --main-black: #111827;
    --main-white: #c7d2fe;
    --accent-gray: #6b7280;
    --border-white: #e5e7eb;
    --delay: 0s;
    --header-bg: url(https://us.123rf.com/450wm/aerial3/aerial31803/aerial3180300007/98115531-ultra-violet-color-vector-background-with-vintage-halftone-texture-overlay-square-shape-trendy-purpl.jpg);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--main-purple);
    border-radius: 16px;
}
::-webkit-scrollbar-track {
    background: var(--darker-purple);
    border-radius: 16px;
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: var(--body-font);
    background: #4f46e5
        url(https://us.123rf.com/450wm/aerial3/aerial31803/aerial3180300007/98115531-ultra-violet-color-vector-background-with-vintage-halftone-texture-overlay-square-shape-trendy-purpl.jpg);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes opacityanimrtl {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes opacityanimltr {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
.lll-opacity {
    animation: opacityanimrtl 0.3s ease-in-out;
}
.ll2-opacity {
    animation: opacityanimltr 0.3s ease-in-out;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
* {
    outline: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
a {
    text-decoration: none;
}

.slider {
    -webkit-appearance: none;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--main-purple);
    border-radius: 16px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--main-purple);
    border-radius: 16px;
    cursor: pointer;
}
